@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #040c18;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient_bg {
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient_text {
    background: linear-gradient(89.97deg, #ae67fe 1.84%, #f49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ----------Navbar---------- */

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 9.6rem;
    color: white;
}

.navbarLinksContainer {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbarLogo {
    margin: 0 3.2rem 0 0
}

.navbarLogo p {
    font-size: 2rem;
    font-weight: 700;
}

.navbarLinks {
    display: flex;
    gap: 3rem;
}

.navbarSignIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarLinks p,
.navbarSignIn p,
.navbarMenuContainer p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    cursor: pointer;
}

.navbarSignIn p {
    margin: 0 3rem 0 0;
}

.navbarSignIn button,
.navbarMenuContainer button {
    background: #ff4820;
    border-radius: .5rem;
    border: none;
    padding: 1.2rem 2.8rem;
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    cursor: pointer;
}

.navbarMenu {
    margin: 0 0 0 1.6rem;
    display: none;
    position: relative;
}

.navbarMenu svg {
    cursor: pointer;
}

.navbarMenuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: #031b34;
    padding: 3.2rem;
    position: absolute;
    top: 4rem;
    right: 0;
    margin: 1.6rem;
    min-width: 21rem;
    border-radius: .5rem;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbarMenuContainer p {
    margin: 1.6rem 0;
}

.navbarMenuContainerLinksSign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbarLinks {
        display: none;
    }

    .navbarMenu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbarContainer {
        padding: 3.2rem 6.4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbarContainer {
        padding: 3.2rem;
    }

    .navbarSignIn {
        display: none;
    }

    .navbarMenuContainer {
        top: 2rem;
    }

    .navbarMenuContainerLinksSign {
        display: block;
    }
}

/* ----------Header---------- */

#home {
    display: flex;
    padding: 0 9.6rem;
}

.headerContent {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 8rem 0 0;
}

.headerContent h1 {
    font-weight: 800;
    font-size: 5.5rem;
    line-height: 7.5rem;
}

.headerContent p {
    font-size: 2rem;
    line-height: 2.7rem;
    color: #81afdd;
    margin: 2.4rem 0 0 0;
}

.headerInput {
    width: 100%;
    margin: 3.2rem 0 1.6rem 0;
    display: flex;
}

.headerInput input {
    flex: 2;
    width: 100%;
    min-height: 5rem;
    background: #052d56;
    border-radius: .5rem 0 0 .5rem;
    border: 2px solid #052d56;
    font-size: 2rem;
    line-height: 2.7rem;
    color: white;
    padding: 0 1.6rem;
    outline: none;
}

.headerInput button {
    flex: 0.6;
    width: 100%;
    min-height: 5rem;
    background: #ff4820;
    border-radius: 0 .5rem .5rem 0;
    border: none;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0 1.6rem;
}

.headerPeople {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0 0 0;
}

.headerPeople img {
    width: 18rem;
    height: 3.8rem;
}

.headerPeople p {
    margin: 0 0 0 1.6rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3.8rem;
}

.headerImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    #home {
        flex-direction: column;
    }

    .headerContent {
        margin: 0 0 4.8rem 0;
    }
}

@media screen and (max-width: 650px) {
    #home {
        padding: 0 6.4rem;
    }

    #home h1 {
        font-size: 4.8rem;
        line-height: 6rem;
    }

    #home p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .headerPeople {
        flex-direction: column;
    }

    .headerPeople p {
        margin: 0;
    }

    .headerInput input,
    .headerInput button {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@media screen and (max-width: 490px) {
    #home {
        padding: 0 3.2rem;
    }

    #home h1 {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    #home p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .headerInput input,
    .headerInput button {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

/* ----------Brand---------- */

.brandContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.brandContainer div {
    flex: 1;
    max-width: 15rem;
    min-width: 12rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------What is GPT4---------- */

#wgpt4 {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    background: #031b34;
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgb(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    filter: drop-shadow(0 .4rem .4rem rgba(0, 0, 0, .25));
    margin: 0 9.6rem;
}

.whatgpt4Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.4rem 0 3.2rem 0;
}

.whatgpt4Heading h1 {
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 4.5rem;
    max-width: 51rem;
}

.whatgpt4Heading p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    color: #ff8a71;
    cursor: pointer;
}

.whatgpt4FeatureBottom {
    display: flex;
    flex-wrap: wrap;
    margin: 3.2rem 0 0 0;
}

.whatgpt4FeatureTop .featureText {
    max-width: 70rem;
}

.whatgpt4FeatureBottom .featureContainer {
    flex: 1;
    margin: 1.6rem;
    min-width: 21rem;
    display: unset;
    flex-direction: column;
}

.whatgpt4FeatureBottom .featureText {
    margin: 1rem 0 0 0;
}

.featureContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.6rem;
}

.featureTitle {
    flex: 1;
    max-width: 18rem;
    margin: 0 3.2rem 0 0;
}

.featureTitle h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -.1rem;
    color: white;
}

.featureTitle div {
    width: 3.8rem;
    height: .3rem;
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);
    margin: 0 0 .4rem 0;
}

.featureText {
    flex: 2;
    max-width: 39rem;
    display: flex;
}

.featureText p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #81afdd;
}

@media screen and (max-width: 850px) {
    #wgpt4 {
        margin: 0 3.2rem;
    }

    .whatgpt4Heading {
        flex-direction: column;
        align-items: flex-start;
        margin: 6.4rem 0 0 0;
    }

    .whatgpt4Heading p {
        margin: 1.6rem 0 0 0;
    }
}

@media screen and (max-width: 650px) {
    .whatgpt4FeatureTop .featureContainer {
        flex-direction: column;
    }

    .whatgpt4FeatureTop .featureText {
        margin: 1rem 0 0 0;
    }

    .whatgpt4Heading h1 {
        font-size: 2.8rem;
        line-height: 4rem;
    }

    .featureContainer {
        margin: 1.6rem 0;
    }

    .featureTitle h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .featureText p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .whatgpt4FeatureBottom .featureContainer {
        margin: 1.6rem 0;
        min-width: 100%;
    }
}

/* ----------Functions---------- */

#functions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 9.6rem;
    margin: 10rem 0;
}

.functionsHeading {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 8rem 0 0;
}

.functionsHeading h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.functionsHeading p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #ff8a71;
    margin: 3.2rem 0 0 0;
    cursor: pointer;
}

.functionsContainer {
    flex: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    #functions {
        flex-direction: column;
    }

    .functionsHeading {
        margin: 0 0 3.2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .functionsHeading h1 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

/* ----------Open AI---------- */

#openAI {
    display: flex;
    padding: 0 9.6rem;
}

.openAIImage {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 3.2rem 0 0;
}

.openAIImage img {
    width: 100%;
    height: 100%;
}

.openAIContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openAIContent h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin: 1.6rem 0;
}

.openAIContent p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #81afdd;
    margin: 0 0 3.2rem 0;
}

.openAIContent h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #71e5ff;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    #openAI {
        flex-direction: column;
    }

    .openAIImage {
        margin: 1.6rem 0;
    }

    .openAIContent {
        margin: 3.2rem 0 0 0;
    }
}

/* ----------Call to Action---------- */

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
    margin: 6rem 9.6rem;
    border-radius: 1rem;
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

.ctaContent p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    color: black;
}

.ctaContent h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: black;
}

.ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3.2rem;
}

.ctaButton button {
    background: black;
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    color: white;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 15rem;
}

@media screen and (max-width: 650px) {
    .cta {
        flex-direction: column;
    }

    .ctaButton {
        margin: 3.2rem 0 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cta {
        margin: 4rem 4rem;
    }

    .ctaContent h3 {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    .ctaButton button {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }
}

/* ----------Blog Section---------- */

#blog {
    display: flex;
    flex-direction: column;
    padding: 0 9.6rem;
}

.blogHeader {
    width: 100%;
    text-align: left;
    margin: 0 0 6.4rem 0;
}

.blogHeader h1 {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.5rem;
    letter-spacing: -.1rem;
}

.blogContainer {
    display: flex;
}

.blogLarge {
    flex: .75;
    margin: 0 3.2rem 0 0;
}

.blogQuad {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

.articleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #031b34;
}

.articleImage {
    width: 100%;
    height: 100%;
    background: #040c18;
}

.articleImage img {
    width: 100%;
    height: 100%;
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    color: white;
    height: 100%;
}

.articleContent p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.articleContent h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 0 0 6.4rem 0;
    cursor: pointer;
}

.articleContent p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .blogContainer {
        flex-direction: column-reverse;
    }

    .blogLarge {
        margin: 3.2rem 0;
    }

    .blogLarge .articleContainer {
        width: 48%;
    }

    .blogLarge .articleImage {
        height: 25rem;
    }
}

@media screen and (max-width: 700px) {
    .blogQuad {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogLarge .articleContainer {
        width: 100%;
    }

    .blogHeader h1 {
        font-size: 4.6rem;
        line-height: 5.2rem;
    }
}

@media screen and (max-width: 550px) {
    .articleContent h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .blogHeader h1 {
        font-size: 3.4rem;
        line-height: 4.2rem;
    }
}